*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

html,
body,
#__next {
  block-size: 100%;
}

#__next {
  isolation: isolate;
}

:root {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

a {
  color: currentColor;
  text-decoration: none;
  transition: color var(--animation-duration) var(--animation-timing-function);
  text-decoration-thickness: from-font;
  text-underline-position: from-font;

  &:hover,
  &:focus-visible {
    color: var(--color-accent-primary-text);
  }
}

blockquote,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.15;
}

img {
  object-fit: cover;
  max-width: 100%;
}

mark {
  background-color: transparent;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

p {
  line-height: 1.75;
}

table {
  border-collapse: collapse;
}
