*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  block-size: 100%;
}

#__next {
  isolation: isolate;
}

:root {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

a {
  color: currentColor;
  text-decoration: none;
  transition: color var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-primary-text);
  }
}

h1,
h2,
h3 {
  line-height: 1.15;
}

p {
  line-height: 1.75;
}
