#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-page-load-progress-indicator);
  height: 2px;
  background: var(--color-page-load-progress-indicator);
}
