.prose {
  /** Colors. */
  --prose-color-text: var(--color-text);
  --prose-color-heading: var(--color-heading-text);
  --prose-color-quote: var(--color-text);
  --prose-color-caption: var(--color-text);
  --prose-color-link: var(--color-accent-primary-text);
  --prose-color-counter: var(--color-muted-text);
  --prose-color-bullet: var(--color-muted-text);
  --prose-color-separator: var(--color-border);
  --prose-color-border: var(--color-border);
  --prose-color-blockquote-border: var(--color-border);
  --prose-color-inline-code: inherit;
  --prose-color-th-border: var(--color-border);
  --prose-color-td-border: var(--color-border);
  --prose-color-pre-text: var(--color-text);
  --prose-color-pre-background: var(--color-muted-background);

  /** Margins. */
  --prose-margin-none: 0;
  --prose-margin-base: 0.625em;
  --prose-margin-lg: 1.25em;
  --prose-margin-xl: 1.75em;
  --prose-margin-text: var(--prose-margin-base);
  --prose-margin-list: var(--prose-margin-none);
  --prose-margin-list-item: var(--prose-margin-base);
  --prose-margin-separator: var(--prose-margin-lg);
  --prose-margin-blockquote: var(--prose-margin-lg);
  --prose-margin-media: var(--prose-margin-lg);
  --prose-margin-table: var(--prose-margin-lg);
  --prose-margin-h1-start: var(--prose-margin-lg);
  --prose-margin-h1-end: var(--prose-margin-base);
  --prose-margin-h2-start: var(--prose-margin-lg);
  --prose-margin-h2-end: var(--prose-margin-base);
  --prose-margin-h3-start: var(--prose-margin-lg);
  --prose-margin-h3-end: var(--prose-margin-base);
  --prose-margin-h4-start: var(--prose-margin-base);
  --prose-margin-h4-end: var(--prose-margin-base);
  --prose-margin-h5-start: var(--prose-margin-base);
  --prose-margin-h5-end: var(--prose-margin-base);
  --prose-margin-pre: var(--prose-margin-xl);

  /** Paddings. */
  --prose-padding-xs: 0.375em;
  --prose-padding-base: 1.625em;
  --prose-padding-list: var(--prose-padding-base);
  --prose-padding-list-item: var(--prose-padding-xs);
  --prose-padding-table-cell: var(--prose-padding-xs);
  --prose-padding-pre: var(--prose-padding-base);

  /** Font sizes. */
  --prose-font-size-text: 1rem;
  --prose-font-size-h1: 2.25em;
  --prose-font-size-h2: 1.5em;
  --prose-font-size-h3: 1.25em;
  --prose-font-size-h4: 1em;
  --prose-font-size-h5: 1em;
  --prose-font-size-caption: 0.875em;
  --prose-font-size-inline-code: 0.875em;
  --prose-font-size-table: 0.875em;
  --prose-font-size-footnote: 0.875em;
  --prose-font-size-pre: 0.875em;

  /** Line heights. */
  --prose-line-height-text: 1.75;
  --prose-line-height-h1: 1.125;
  --prose-line-height-h2: 1.3333;
  --prose-line-height-h3: 1.6;
  --prose-line-height-h4: 1.5;
  --prose-line-height-h5: 1.5;

  color: var(--prose-color-text);
  font-size: var(--prose-font-size-text);
  line-height: var(--prose-line-height-text);

  & :where(p) {
    margin-block: var(--prose-margin-text);
  }

  & :where(a) {
    color: var(--prose-color-link);
    font-weight: 500;
    text-decoration: underline;
  }

  & :where(a:hover) {
    text-decoration-thickness: 2px;
  }

  & :where(strong) {
    font-weight: 600;
  }

  & :where(ol) {
    margin-block: var(--prose-margin-list);
    padding-inline-start: var(--prose-padding-list);
    list-style-type: decimal;
  }

  & :where(ul) {
    margin-block: var(--prose-margin-list);
    padding-inline-start: var(--prose-padding-list);
    list-style-type: disc;
  }

  & :where(ol > li)::marker {
    color: var(--prose-color-counter);
    font-weight: 400;
  }

  & :where(ul > li)::marker {
    color: var(--prose-color-bullet);
  }

  & :where(li) {
    margin-block: var(--prose-margin-list-item);
    padding-inline-start: var(--prose-padding-list-item);
  }

  & :where(hr) {
    margin-block: var(--prose-margin-separator);
    border-color: var(--prose-color-separator);
    border-block-start-width: 1px;
  }

  & :where(blockquote) {
    margin-block: var(--prose-margin-blockquote);
    padding-left: 1em;
    color: var(--prose-color-quote);
    font-weight: 500;
    font-style: italic;
    quotes: '\201C''\201D''\2018''\2019';
    border-inline-start-width: 0.25rem;
    border-inline-start-color: var(--prose-color-blockquote-border);
  }

  & :where(blockquote p:first-of-type)::before {
    content: open-quote;
  }

  & :where(blockquote p:last-of-type)::after {
    content: close-quote;
  }

  & :where([data-permalink]) {
    position: relative;

    & > a {
      position: absolute;
      font-size: inherit;
      text-decoration: none;
      opacity: 0%;
      transform: translateX(-1.5rem);

      &:hover,
      &:focus-visible {
        opacity: 100%;
      }
    }

    &:hover > a {
      opacity: 100%;
    }
  }

  & :where(h1) {
    margin-block-start: var(--prose-margin-h1-start);
    margin-block-end: var(--prose-margin-h1-end);
    color: var(--prose-color-heading);
    font-weight: 800;
    font-size: var(--prose-font-size-h1);
    line-height: var(--prose-line-height-h1);
  }

  & :where(h1 strong) {
    font-weight: 900;
  }

  & :where([data-permalink][data-rank='1']) {
    margin-block-start: var(--prose-margin-h1-start);
    margin-block-end: var(--prose-margin-h1-end);
    font-size: var(--prose-font-size-h1);
    line-height: var(--prose-line-height-h1);

    & > h1 {
      margin-block: 0;
      font-size: inherit;
    }
  }

  & :where(h2) {
    margin-block-start: var(--prose-margin-h2-start);
    margin-block-end: var(--prose-margin-h2-end);
    color: var(--prose-color-heading);
    font-weight: 700;
    font-size: var(--prose-font-size-h2);
    line-height: var(--prose-line-height-h2);
  }

  & :where(h2 strong) {
    font-weight: 800;
  }

  & :where([data-permalink][data-rank='2']) {
    margin-block-start: var(--prose-margin-h2-start);
    margin-block-end: var(--prose-margin-h2-end);
    font-size: var(--prose-font-size-h2);
    line-height: var(--prose-line-height-h2);

    & > h2 {
      margin-block: 0;
      font-size: inherit;
    }
  }

  & :where(h3) {
    margin-block-start: var(--prose-margin-h3-start);
    margin-block-end: var(--prose-margin-h3-end);
    color: var(--prose-color-heading);
    font-weight: 600;
    font-size: var(--prose-font-size-h3);
    line-height: var(--prose-line-height-h3);
  }

  & :where(h3 strong) {
    font-weight: 700;
  }

  & :where([data-permalink][data-rank='3']) {
    margin-block-start: var(--prose-margin-h3-start);
    margin-block-end: var(--prose-margin-h3-end);
    font-size: var(--prose-font-size-h3);
    line-height: var(--prose-line-height-h3);

    & > h3 {
      margin-block: 0;
      font-size: inherit;
    }
  }

  & :where(h4) {
    margin-block-start: var(--prose-margin-h4-start);
    margin-block-end: var(--prose-margin-h4-end);
    color: var(--prose-color-heading);
    font-weight: 600;
    font-size: var(--prose-font-size-h4);
    line-height: var(--prose-line-height-h4);
  }

  & :where(h4 strong) {
    font-weight: 700;
  }

  & :where([data-permalink][data-rank='4']) {
    margin-block-start: var(--prose-margin-h4-start);
    margin-block-end: var(--prose-margin-h4-end);
    font-size: var(--prose-font-size-h4);
    line-height: var(--prose-line-height-h4);

    & > h4 {
      margin-block: 0;
      font-size: inherit;
    }
  }

  & :where(h5) {
    margin-block-start: var(--prose-margin-h5-start);
    margin-block-end: var(--prose-margin-h5-end);
    color: var(--prose-color-heading);
    font-weight: 600;
    font-size: var(--prose-font-size-h5);
    line-height: var(--prose-line-height-h5);
  }

  & :where(h5 strong) {
    font-weight: 700;
  }

  & :where([data-permalink][data-rank='5']) {
    margin-block-start: var(--prose-margin-h5-start);
    margin-block-end: var(--prose-margin-h5-end);
    font-size: var(--prose-font-size-h5);
    line-height: var(--prose-line-height-h5);

    & > h5 {
      margin-block: 0;
      font-size: inherit;
    }
  }

  & :where(figure) {
    margin-block: var(--prose-margin-media);
  }

  & :where(figure > *) {
    margin-block: 0;
  }

  & :where(figcaption) {
    color: var(--prose-color-caption);
    font-size: var(--prose-font-size-caption);
    line-height: 1.5;
  }

  & :where(img) {
    margin-block: var(--prose-margin-media);
  }

  & :where(video) {
    margin-block: var(--prose-margin-media);
  }

  & :where([data-footnote-ref]) {
    /* Empty. */
  }

  & :where([data-footnotes]) {
    /* Empty. */
  }

  & :where([data-footnotes] h2) {
    /* TODO: `remark` plugin applies `sr-only` class. */
  }

  & :where([data-footnotes] ol) {
    font-size: var(--prose-font-size-footnote);
  }

  & :where([data-footnote-backref]) {
    /* Empty. */
  }

  & > :where(:first-child) {
    margin-block-start: 0;
  }

  & > :where(:last-child) {
    margin-block-end: 0;
  }

  & :where(:first-child[data-permalink] > h1, h2, h3, h4, h5) {
    margin-block-start: 0;
  }

  & :where(code) {
    color: var(--prose-color-inline-code);
    font-weight: 600;
    font-size: var(--prose-font-size-inline-code);

    &::before {
      content: '`';
    }

    &::after {
      content: '`';
    }
  }

  & :where(a code) {
    color: var(--prose-color-link);
  }

  & :where(table) {
    width: 100%;
    margin-block: var(--prose-margin-table);
    table-layout: auto;
    font-size: var(--prose-font-size-table);
    line-height: var(--prose-line-height-text);
    text-align: left;
  }

  & :where(thead) {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-color-th-border);
  }

  & :where(thead th) {
    vertical-align: bottom;
    padding-block-end: var(--prose-padding-table-cell);
    padding-inline: var(--prose-padding-table-cell);
    color: var(--prose-color-heading);
    font-weight: 600;
  }

  & :where(tbody tr) {
    border-bottom-width: 1px;
    border-bottom-color: var(--prose-color-td-border);
  }

  & :where(tbody tr:last-child) {
    border-bottom-width: 0;
  }

  & :where(tbody td) {
    vertical-align: baseline;
    padding: var(--prose-padding-table-cell);
  }

  & :where(thead th:first-child) {
    padding-inline-start: 0;
  }

  & :where(thead th:last-child) {
    padding-inline-end: 0;
  }

  & :where(tbody td:first-child) {
    padding-inline-start: 0;
  }

  & :where(tbody td:last-child) {
    padding-inline-end: 0;
  }

  & :where(pre) {
    overflow-x: auto;
    margin-block: var(--prose-margin-pre);
    padding: var(--prose-padding-pre);
    border-radius: 6px;
    background-color: var(--prose-color-pre-background);
    color: var(--prose-color-pre-text);
    font-weight: 400;
    font-size: var(--prose-font-size-pre);
    line-height: var(--prose-line-height-text);
  }

  & :where(pre code) {
    padding: 0;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  & :where(pre code)::before {
    content: none;
  }

  & :where(pre code)::after {
    content: none;
  }

  & :where(:global(.list-none)) {
    padding-inline-start: 0;
    list-style: none;

    & :where(li) {
      margin-block: 0;
    }
  }
}
