.syntax-highlighting {
  --color-prettylights-syntax-comment: hsl(212deg 9% 58%);
  --color-prettylights-syntax-constant: hsl(197deg 100% 76.7%);
  --color-prettylights-syntax-entity: hsl(171deg 100% 40%);
  --color-prettylights-syntax-storage-modifier-import: hsl(210deg 17% 82%);
  --color-prettylights-syntax-entity-tag: hsl(125deg 69% 70%);
  --color-prettylights-syntax-keyword: hsl(202deg 69.4% 53.9%);
  --color-prettylights-syntax-string: hsl(197deg 100% 86.7%);
  --color-prettylights-syntax-variable: hsl(171deg 100% 50%);
  --color-prettylights-syntax-brackethighlighter-unmatched: hsl(3deg 93% 63%);
  --color-prettylights-syntax-invalid-illegal-text: hsl(208deg 71% 96%);
  --color-prettylights-syntax-invalid-illegal-bg: hsl(358deg 74% 32%);
  --color-prettylights-syntax-carriage-return-text: hsl(210deg 67% 96%);
  --color-prettylights-syntax-carriage-return-bg: hsl(360deg 68% 43%);
  --color-prettylights-syntax-string-regexp: hsl(125deg 69% 70%);
  --color-prettylights-syntax-markup-list: hsl(44deg 85% 66%);
  --color-prettylights-syntax-markup-heading: hsl(216deg 84% 52%);
  --color-prettylights-syntax-markup-italic: hsl(210deg 17% 82%);
  --color-prettylights-syntax-markup-bold: hsl(210deg 17% 82%);
  --color-prettylights-syntax-markup-deleted-text: hsl(8deg 100% 92%);
  --color-prettylights-syntax-markup-deleted-bg: hsl(356deg 89% 21%);
  --color-prettylights-syntax-markup-inserted-text: hsl(124deg 78% 82%);
  --color-prettylights-syntax-markup-inserted-bg: hsl(141deg 90% 12%);
  --color-prettylights-syntax-markup-changed-text: hsl(34deg 100% 86%);
  --color-prettylights-syntax-markup-changed-bg: hsl(19deg 96% 18%);
  --color-prettylights-syntax-markup-ignored-text: hsl(210deg 17% 82%);
  --color-prettylights-syntax-markup-ignored-bg: hsl(217deg 84% 42%);
  --color-prettylights-syntax-meta-diff-range: hsl(269deg 100% 83%);
  --color-prettylights-syntax-brackethighlighter-angle: hsl(212deg 9% 58%);
  --color-prettylights-syntax-sublimelinter-gutter-mark: hsl(214deg 10% 31%);
  --color-prettylights-syntax-constant-other-reference-link: hsl(207deg 100% 82%);

  /** Added by patched `starry-night`. */
  & :global(.pl-line) {
    /* noop */
  }

  & :global(.pl-line[data-line-number]) {
    /* noop */
  }

  /** Added by patched `starry-night` and `rehype-starry-night.ts`. */
  & :global(.pl-line[data-highlight]) {
    --color-pretty-lights-line-highlighted-bg: ;
    --color-pretty-lights-line-highlighted-text: ;
  }
}
